@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ff-primary: "Overpass", serif;

  --fw-bold: 700;
  --fw-regular: 400;

  --fs-body: 0.9375rem;

  --c-primary: hsl(25, 97%, 53%);
  --c-bg: hsl(216, 12%, 8%);
  --c-active: hsl(0, 0%, 100%);
  --c-grey: hsl(217, 12%, 63%);
  --c-fg: hsl(213, 19%, 18%);
  --c-fg-light: hsl(213, 19%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--c-grey);
  background-color: var(--c-bg);
  min-height: 100vh;
  display: grid;
  place-items: center;
  line-height: 1.5;
}

.card {
  position: relative;
  background-color: var(--c-fg);
  border-radius: 1.5rem;
  width: 21rem;
  padding-inline: 1.2rem;
  padding-block: 2rem;
  min-height: 25rem;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in;

  &.card--success {
    transform: rotateY(180deg);
  }
}

.card__front {
  display: grid;
  gap: 1.5rem;
  z-index: 2;
  background-color: var(--c-fg);
  backface-visibility: hidden;
}

.card__front__icon {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--c-fg-light);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card__front__title {
  font-weight: var(--fw-bold);
  color: var(--c-active);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.card__front__form {
  display: grid;
  gap: 1.5rem;
}

.card__front__form__rating {
  display: grid;
  gap: 0.5rem;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.card__front__form__rating__star {
  position: relative;
}

.card__front__form__rating__star input[type="radio"] {
  appearance: none;
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: -1;
  border-radius: 50%;

  &:checked + label {
    background-color: var(--c-active);
    color: var(--c-bg);
  }
}

.card__front__form__rating label {
  width: 3rem;
  aspect-ratio: 1/1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-fg-light);
  font-weight: var(--fw-bold);
  border-radius: 50%;
  cursor: pointer;
}

.card__front__form button {
  appearance: none;
  border: none;
  background-color: var(--c-primary);
  color: var(--c-bg);
  cursor: pointer;
  border-radius: 9999px;
  padding-block: 0.75rem;
  font-weight: var(--fw-bold);
  font-size: 1rem;
  letter-spacing: 0.2rem;

  &:hover,
  &:focus-visible {
    background-color: var(--c-active);
  }
}

.card__back {
  display: grid;
  gap: 2rem;
  transform: rotateY(180deg);
}

.card__back__top {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.card__back__top p {
  color: var(--c-primary);
  background-color: var(--c-fg-light);
  display: inline-block;
  line-height: 1;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
}

.card__back__content {
  text-align: center;
}

.card__back__title {
  font-weight: var(--fw-bold);
  color: var(--c-active);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.card__front,
.card__back {
  position: absolute;
  width: calc(100% - 2.4rem);
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  :root {
    --fs-body: 1.25rem;
  }

  .card {
    width: 28rem;
    padding-inline: 2rem;
    padding-block: 3rem;
    min-height: 34rem;
  }

  .card__front {
    gap: 2rem;
  }

  .card__front,
  .card__back {
    width: calc(100% - 4rem);
    height: calc(100% - 6rem);
  }

  .card__front__icon {
    width: 4rem;
  }

  .card__front__title,
  .card__back__title {
    font-size: 2rem;
  }

  .card__front__form {
    gap: 1.5rem;
  }

  .card__front__form button {
    padding-block: 1.25rem;
    font-size: 1.25rem;
  }

  .card__front__form__rating label {
    width: 4rem;
    font-size: 1.25rem;

    &:hover {
      background-color: var(--c-primary);
      color: var(--c-bg);
    }
  }

  .card__front__form__rating__star:focus-within label {
    background-color: var(--c-primary);
    color: var(--c-bg);
  }
}
